.classpath
.DS_Store
.idea
.project
.salesforce
.settings
.sfdx/
.tern-project
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
jsconfig.json
node_modules/
selenium-client-jars/
test/artifacts/
node_modules
