lightning-input,
c-contact-tile {
    position: relative;
    border: solid 1px #ecebea;
    border-radius: 4px;
    display: block;
    padding: 2px;
}

c-contact-tile {
    margin: 1px 0;
}

lightning-input:before,
c-contact-tile:before {
    color: #dddbda;
    position: absolute;
    top: -9px;
    left: 4px;
    background-color: #ffffff;
    padding: 0 4px;
}

lightning-input:before {
    content: 'lightning-input';
}

c-contact-tile:before {
    content: 'c-contact-tile';
}
