img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 8px;
}

lightning-layout-item.wide {
    min-width: 200px;
}

c-contact-list-item-bubbling {
    position: relative;
    border: solid 1px #ecebea;
    border-radius: 4px;
    display: block;
    margin: 1px 0;
    padding: 3px 2px 0 2px;
}

c-contact-list-item-bubbling:before {
    content: 'c-contact-list-item-bubbling';
    color: #dddbda;
    position: absolute;
    top: -9px;
    left: 4px;
    background-color: #ffffff;
    padding: 0 4px;
}
