img {
    width: var(--lwc-squareIconLargeBoundaryAlt, 80px);
    height: var(--lwc-squareIconLargeBoundaryAlt, 80px);
    border-radius: var(--lwc-borderRadiusCircle, 50%);
    margin-bottom: var(--lwc-varSpacingXSmall, 8px);
}

lightning-layout-item.wide {
    min-width: 200px;
}

c-contact-list-item-bubbling {
    border: solid var(--lwc-borderWidthThin, 1px) #ecebea;
    border-radius: var(--lwc-borderRadiusMedium, 4px);
    margin: var(--lwc-borderWidthThin, 1px) 0;
    padding: 3px var(--lwc-varSpacingXxxSmall, 2px) 0
        var(--lwc-varSpacingXxxSmall, 2px);
}

c-contact-list-item-bubbling:before {
    content: 'c-contact-list-item-bubbling';
    color: rgb(221, 219, 218);
    position: absolute;
    top: -9px;
    left: var(--lwc-varSpacingXxSmall, 4px);
    background-color: var(--lwc-colorBackgroundAlt, #ffffff);
    padding: 0 var(--lwc-varSpacingXxSmall, 4px);
}
