.list-first {
    border-top: var(--slds-g-sizing-border-1) solid #706e6b;
    padding-top: 5px;
}

.list-last {
    border-bottom: var(--slds-g-sizing-border-1) solid #706e6b;
    padding-bottom: 5px;
}
