.list-first {
    border-top: var(--lwc-borderWidthThin, 1px) solid #706e6b;
    padding-top: 5px;
}

.list-last {
    border-bottom: var(--lwc-borderWidthThin, 1px) solid #706e6b;
    padding-bottom: 5px;
}
