.THIS img {
    width: token(squareIconLargeBoundaryAlt);
    height: token(squareIconLargeBoundaryAlt);
    border-radius: token(borderRadiusCircle);
    margin-bottom: token(varSpacingXSmall);
}

.THIS .slds-card__footer {
    color: rgb(112, 110, 107);
}

.THIS .aura {
    background-color: #f39f75;
    color: rgb(255, 255, 255);
    padding: token(borderWidthThin) token(varSpacingXxSmall);
    border-radius: 3px;
}
