fieldset {
    border: solid var(--slds-g-sizing-border-1)
        var(--slds-g-color-neutral-base-80);
    border-radius: var(--slds-g-radius-border-2);
}

img {
    width: var(--slds-g-sizing-12);
    height: var(--slds-g-sizing-12);
    border-radius: var(--slds-g-radius-border-circle);
    margin-bottom: var(--slds-g-spacing-var-2);
}
