img {
    width: var(--lwc-squareIconLargeBoundaryAlt, 80px);
    height: var(--lwc-squareIconLargeBoundaryAlt, 80px);
    border-radius: var(--lwc-borderRadiusCircle, 50%);
    margin-bottom: var(--lwc-varSpacingXSmall, 8px);
}

.alert {
    color: #ff0000;
}
